@import "https://fonts.googleapis.com/css2?family=Sriracha&display=swap";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  margin: auto;
}

.navbar-brand {
  font-family: 'Sriracha', cursive;
  color:#AB232B !important;
}

.profile-pic {
  margin:auto;
  height:200px;
  max-width:100%;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.profile-pic:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.09);
}

.home {
  background-color: #494D5F;
  background-image: linear-gradient(to right, #494D5F , #AF222A);
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  max-width: 800px;
  margin: auto;
  padding: 40px;
}

.home-right {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.profile-blurbs {
  color: white;
  list-style: none;
}

.profile-pic-heading {
  color: white;
  padding-top: 10px;
  font-family: 'Sriracha', cursive;
  padding-bottom: 15px;
}

.tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.tab-content {
  margin-top: 40px;
  margin-bottom: 40px;
}

.projects-container-heading {
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Sriracha', cursive;
    color: #494D5F;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  flex-wrap: wrap;
  max-width: 1080px;
  padding: 18px;
}

.proj-pic {
  max-width: max-content;
  height: 250px;
  margin-bottom: 10px;
  object-fit: cover;
}

.tech-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  font-family: 'Sriracha', cursive;
}

.tech-list-item {
  margin-right: 6px;
}

.tech-list-heading {
  font-size: 20px;
  font-weight: 700px;
  margin-top: 12px;
}

.cards {
  border: 2px solid #494D5F;
  border-radius: 15px;
  padding: 30px;
  margin: 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  transition: 0.3s ease-in-out;
}

.cards:hover {
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
}

.project-description {
  margin: auto;
  max-width: 250px;
}

.card-title {
  font-family: 'Sriracha', cursive;
  font-size: 24px;
  color: #494D5F !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 300px;
}

.card-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.resume-container-heading {
  font-family: 'Sriracha', cursive;
  color: white;
  padding-top: 20px;
  margin-bottom: 20px;
}

.resume-container {
  border: solid 1px #dee2e6;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  margin-bottom: 40px;
}

.resume-left {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  margin-left: 20px;
  margin-right: 20px;
}

.resume-right {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin-left: 20px;
  margin-right: 20px;
}

.resume-list {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
}

.resume-list-item {
  margin-left: 15px;
  text-align: left;
  list-style-type: circle !important;
}

.resume-header {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 20px;
  font-family: 'Sriracha', cursive;
  color: #494D5F !important;
}

.resume-company-header  {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 16px;
  color: #007bff;
}

.resume-location-header  {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 16px;
  color: #494D5F;
}

.resume-dates  {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  font-size: 12px;
  font-family: 'Sriracha', cursive;
  color: #494D5F;
}

.resume-section {
  margin-top: 10px;
}

#Resume {
  padding-bottom: 40px;
  background-image: linear-gradient(to right, #AF222A, #494D5F);
}

hr.solid {
  border-top: 2px solid #fff;
}

.contact-container {
  background-image: linear-gradient(to right, #AF222A, #494D5F);
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.label {
  color: white;
}

.contact-container-heading {
  font-family: 'Sriracha', cursive;
  color: white;
  padding-top: 20px;
  margin-bottom: 20px;
}

.contact-form {
  width: 500px;
}

.contact-container-outer-div {
  background-image: linear-gradient(to right, #AF222A, #494D5F);
}

.contact-info {
  color:white;
  display: flex;
  flex-direction: column;
}

.contact-info ul {
  font-family: 'Sriracha', cursive;
  font-size:18px;
  list-style: none;
  text-align: left;
}

.contact-info ul li a {
  color:white;
}

.social-list {
  display: flex;
  flex-direction: row;
}

.social-icon {
  font-size: 40px;
  padding: 5px;
}

.bottom-bar {
  background-color: #343a40;
  color: white;
}

.bottom-bar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}